.setting {
  .header {
    margin: 20px 0 30px;
    padding-left: 16px;
    color: #0084ff;
    font-weight: 400;
    font-size: 18px;
    border-left: 2px solid #0084ff;
  }

  .avatar,
  .bg {
    position: relative;
    overflow: hidden;

    :global(.ant-upload-btn) {
      padding: 0;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 1%;
    }
  }
  .bg {
    padding-top: 56.25%;
    .box {
      padding: 8px 0;
    }
  }
  .avatar {
    padding-top: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}
.eye {
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
}

.tooltip {
  max-width: initial;
}
.preview {
  position: relative;
  width: 400px;
  img {
    width: 100%;
  }

  .mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 25% 0, 60% 100%, 0 100%);
    clip-path: polygon(0 0, 25% 0, 60% 100%, 0 100%);
  }
}
